* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input,
  form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="radio"],
  form input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
  }
  
  form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

  .radio-buttons {
    display: flex;
    flex-direction: row;
  }
  
  .radio-buttons label {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .radio-buttons input[type="radio"] {
    margin-right: 5px;
  }
  